# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon
# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes


*.tlog
*.log
*.obj
*.sdf
*.opensdf
*.lastbuildstate
*.map
*.dll
*.pdb
*.exe
ipch/
photoDir/
Debug/



Engine/blocks/CanonSDK/lib/EDSDK/Library/
Engine/blocks/CanonSDK/bin/
Engine/vc2012/soc
Engine.sln.DotSettings.user
Engine/blocks/Cinder-Awesomium/build
Engine/blocks/Cinder-Curl/lib
Engine/blocks/Cinder-Curl/scons

ipch/
Release/