#include "resource.h"

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
1                       ICON                    "..\\resources\\cinder_app_icon.ico"

/////////////////////////////////////////////////////////////////////////////
//
// IMAGE
//

2                       IMAGE                   "..\\resources\\preloader.png"

/////////////////////////////////////////////////////////////////////////////
//
// Font
//

3                       FONT                    "..\\resources\\Helvetica Neue.ttf"
